<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/user/<%= user.id %>/post/edit/<%= post.id %>" method="post">
        <label for="TITLE">Title:</label><br>
        <input type="text" name="title" id="TITLE" value="<%= post.title %>"><br>
        <label for="IMAGEURL">Image:</label><br>
        <input type="file" name="imageUrl" id="IMAGEURL" value="<%= post.imageUrl %>"><br>
        <label for="CAPTION">Caption:</label><br>
        <input type="text" name="caption" id="CAPTION" value="<%= post.caption %>"><br><br>
        <input type="hidden" name="ProfileId" value="<%= user.id %>">
        <input type="submit" value="Submit">
    </form>
</body>
</html>