<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
        <div>
            <div class="navbar bg-white">
            <div class="flex-1">
              <a class="btn btn-ghost text-xl">StackOverJang</a>
            </div>
            <div class="flex-none">
                <a href="/user/<%= user.id %>">
                    <button class="btn btn-outline btn-warning mr-5">Profil Kamu</button></a>
                    <button class="btn btn-outline btn-error">Logout</button>
            </div>
          </div>
        </div> 
        <h1>Profile Detail</h1>

        <h4><%= profile.username %></h4>
        <img src="<%= profile.profileImg %>" style="width: 15rem;" alt="foto profil">
        <p><%= profile.bio %></p>

        <h3>Post:</h3>
        <% profile.Posts.forEach(el => { %>
            <label for="<%= el.title %>"><%= el.caption %></label><br>
            <img src="<%- el.imageUrl %>" style="width: 10rem; margin-left: 2rem; margin-right: 2rem;" alt="<%= el.title %>" id="<%= el.title %>"><br>
            <a href="/user/post/<%= el.id %>"><button>Pergi ke postingan</button></a><br><br>
        <% }) %>
</body>
</html>